extends layout
block head
    title= res.volumeInfo.title
    script.
        function back() {window.history.back()};
block content
    //- - function back() {window.history.back()};
    //- a(href="/", class="badge badge-pill badge-primary", style="float: right; position: fixed; display: sticky") Home
    button(onclick="back()", class="btn btn-primary", style="position: fixed") Back
    div.container
            div(class="row no-gutters")
                div.col-md-4
                    - var images = res.volumeInfo.imageLinks
                    - var link = ''
                    if (images)
                        - var link = images.thumbnail
                    img(class='card-img',src=link)
                div.col-md-8
                    div.card-body
                        h2.display-3= res.volumeInfo.title
                            h2
                                span(class="badge badge-dark")= res.volumeInfo.authors
                        - var text = res.volumeInfo.description
                        p.card-text!= text
                        hr
                        p.text-muted= "Page count: " + res.volumeInfo.pageCount
                        p.text-muted= "Rating: " + res.volumeInfo.averageRating + "/5"
                        p.text-muted= res.volumeInfo.publishedDate